body {
    margin: 0;
    font-family: sans-serif, Arial;
    background-color: rgb(24,26,27);
    color: rgb(206,202,195);
}
a {
    text-decoration: none;
    font-family: sans-serif, Arial;
}
#contact i, #name i {
    font-size: 16px;
}
#name p:hover {
    color: rgb(255, 198, 44);
    transition: 0.3s;
}
#left {
    width: 210px;
    color: whitesmoke;
    height: 2600px;
    background-color: rgb(0,49,92);
    padding-left: 15px;
    box-shadow: 0.5px 0.5px 10px 5px rgba(175, 170, 170, 0.5);
}
#contact, #skills, #soft, #langs {
    height: 40px;
    font-size: 19px;
    margin-left: -15;
    padding-left: 10px;
    background-color: rgb(0,39,74);
}
#contact p {
    font-size: 15px;
    padding-left: 10.5px;
}
#skills p, #soft p, #langs p {
    font-size: 15px;
    padding-left: 130px;
    font-weight: 200;
    margin-top: 5px;
}
input {
    width: 150px;
    height: 22px;
}
#left label {
    font-size: 16px;
    font-weight: 200;
}
#right {
    margin: -2590px 0 0 265px;
    position: absolute;
}
#right h1 {
    border-top: 1px solid rgb(210, 205, 205);
    border-bottom: 1px solid rgb(210, 205, 205);
    text-align: center;
}
#dark {
    height: 23;
    width: 20px;
    font-size: 23;
    color: black;
    position: absolute;
    text-align: center;
    background-color: whitesmoke;
    border-radius: 15px;
    padding: 3px 5px 3px 3px;
    margin: 2280px 0 0 680px;
    box-shadow: 0.1px 0.1px 4px 0.3px rgb(75,168,248);
}
#dark:hover {
    color: white;
    background-color: black;
    transition: 0.5s;
    box-shadow: 0.8px 0.3px 3px 3px rgb(210, 205, 205);
}
#work, #edu, #cert {
    margin: 100px 0 0 100px;
}
#work i, #edu i, #cert i {
    font-size: 16px;
}
#work p, #edu p, #cert p {
    font-size: 18px;
    display: inline;
    margin: 0px;
}
#work h1, #edu h1, #cert h1 {
    border-top: 1px solid rgb(210, 205, 205);
    border-bottom: 1px solid rgb(210, 205, 205);
    text-align: center;
    margin: -30px 0 0 -100px;
}
#work h1 i, #edu h1 i, #cert h1 i {
    font-size: 30px;
}
#work h2, #edu h2, #cert h2 {
    font-size: 28px;
    display: inline;
    position: absolute;
    margin-top: -25px;
}
#work h3, #edu h3, #cert h3 {
    font-size: 24px;
    margin-top: -15px;
}
.GD, .HSD, .certi {
    margin-top: 50px;
}
#SMI {
    height: 20px;
    color: white;
    width: 20px;
    text-align: center;
    margin: 490px 0 0 8px;
    padding: 4px 3px 3px 3px;
    border-radius: 15px;
    box-shadow: 0.1px 0.1px 3px 0.1px whitesmoke;
}
#SMI:hover {
    box-shadow: 0.1px 0.1px 4px 0.3px whitesmoke;
    opacity: 80%;
}
#certl {
    margin-left: 160px; 
    font-size: 18px; 
    color: whitesmoke;
}